{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'styles/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/css/userpageStyle.css' %}">
    <link rel="stylesheet" href="{% static 'styles/css/elements.css' %}">
    <link rel="stylesheet" href="{% static 'styles/css/homeStyle.css' %}">
    <link rel="stylesheet" href="{% static 'styles/css/components.css' %}">
    <link rel="stylesheet" href="{% static 'styles/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/css/datatables.min.css' %}">

    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
</head>

<script>
    $('document').ready(function() {
        $('#alterarSenha').click(()=>{
            document.querySelector('.min-modal').classList.add("showModal")
        })

        $('#loggedUserForm').submit(function(e){
            e.preventDefault()

            if($('#confirmar').val() != $('#novasenha').val()){
                document.querySelector('#confirmarError').textContent = "As senhas não correspondem"
            }else{
                document.querySelector('#confirmarError').textContent = ""

                $.ajax({
                    type: 'POST',
                    url: '{% url "changePassword"  %}',
                    data: $(this).serialize(),
                    dataType:"json",
                    success: function (response){
                        console.log(response['data'])
                        if(response['data'] == '200'){
                            userCadastradoComSucesso('atualizado',  response['senha'])
                        }else{
                            document.querySelector('#senhaatualError').textContent = "Esta senha não corresponde a senha atual "
                        }
                    }, error: function(response){
                        console.log('Erro: ', response)
                    }
                }) 
            }

        })
    })    
    
</script>

<body>

    <div class="simple-page">
        <div class="simple-page-titlediv">
            <div class="simple-page-titlediv-button">
                <button class="backButton"></button>
            </div>
            <div class="simple-page-titlediv-title">
                <h2>Pagina de usuário</h2>
            </div>
        </div>

        <div class="simple-page-bodydiv">

            <div class="simple-page-bodydiv-userinfo">
                <br>
                    <div >
                        <div>
                            <p>Nome: </p>
                            <input type="text" class="formTextInput" name="first_name" id="first_name" value="{{ user.first_name }}">    
                        </div>
                        <button type="button" class="updateButton"></button>
                    </div>
    
                    <div >
                        <div>
                            <p>Apelido: </p>
                            <input type="text" class="formTextInput" name="last_name" id="last_name" value="{{ user.last_name }}">    
                        </div>
                        <button type="button" class="updateButton"></button>
                    </div>
    
                    <div>
                        <div>
                            <p>Usuário: </p>
                            <input type="text" class="formTextInput" name="username" id="username" value="{{ user.username }}">    
                        </div>
                        <button type="button" class="updateButton"></button>
                    </div>

                    <div>
                        <p style="padding-top:6px">Senha:</p>
                        <button type="button" class="btn" id="alterarSenha">Alterar a senha</button>
                    </div>                

            </div>
            <div class="min-modal" id="minModal">
                <div class="min-modal-header">
                  <h2 class="min-modal-title">Adicionar cliente</h2>
                </div>
  
                <div class="min-modal-body">
                  <form method="post" class="modalForm" id="loggedUserForm">
                      {% csrf_token %}
                    <input type="hidden" name="userid" id="userid" value="{{ user.id }}">
                    <div>
                      <label>Senha atual</label>
                      <input type="text" class="formTextInput" placeholder="Senha usada para se logar" name="senhaatual" id="senhaatual" />
                      <span class="errorText" id="senhaatualError"></span>

                    </div>

                    <div>
                        <label>Nova senha</label>
                        <input type="text" class="formTextInput" placeholder="Nova senha" name="novasenha" id="novasenha" />
                    </div>
  
                    <div>
                        <label>Confirmar</label>
                        <input type="text" class="formTextInput" placeholder="Confirmar nova senha" name="confirmar" id="confirmar" />
                        <span class="errorText" id="confirmarError"></span>
                      </div>
  
                    <div class="min-submit-buttons">
                        <button class="fecharButton" type="button" >Fechar</button>
                        <button class="submitButton" type="submit">Mudar</button>
                    </div>
                  </form>
                </div>
  
            
        </div>

    </div>






    <script>
        $('document').ready(function(){
            $('.backbutton').click(()=>{
                window.location.href="../../"
            })  
        })
          
    </script>
    
    <script src="{% static 'js/alerts.js' %}"></script>

</body>
</html>