{% extends 'base.html' %}


{% block conteudo %}
    <script>

      $(document).ready(function(){
        $('#addBtn').click(()=>{
          document.querySelector('.min-modal').classList.add('showModal')
        })

        $('.fecharButton').click(()=>{
            document.querySelector('.min-modal').classList.remove("showModal")
        });

        $('#userForm').submit(function(e){
          e.preventDefault();
          $.ajax({
              type: 'POST',
              url: '{% url "signup"  %}',
              data: $(this).serialize(),
              dataType:"json",
              success: function (response){
                console.log(response['data'])

                if(response['data'] == '200'){
                  $('#userForm')[0].reset()
                  userCadastradoComSucesso(response['password'])
                }
                // login, 64642
              }, error: function(response){
                console.log('Erro: ', response)
              }
          })   
        })

        for(const a of document.querySelectorAll('.deleteButton')){
          a.addEventListener('click', ()=>{

            swal({
              title: "Tem certeza?",
              text: "Essa acção não pode ser revertida!",
              icon: "warning",
              buttons: true,
              dangerMode: true,
              })
              .then((willDelete) => {
              if (willDelete) {
                let thisid = a.getAttribute('id')
                $.ajax({
                  type: 'GET',
                  url: '{% url "deluser"  %}',
                  data: {id:thisid},
                  dataType:"json",
                  success: function (response){
                    if(response['data'] == '200'){
                      userCadastradoComSucesso(response['password'])
                      window.location.href = '/usuario' // have to fix it
                    }else{
                      alert('Houve um erro inesperado')
                    }
                    // login, 64642
                  }, error: function(response){
                    console.log('Erro: ', response)
                  }
                })
              }
            });
            // console.log(a)
          })
        }

        var btns = ['activeUser', 'disableUser', 'promoveUser', 'despromoveUser']

        btns.forEach(element => {
          for(const a of document.querySelectorAll(`.${element}`)){
            a.addEventListener('click', ()=>{

              let thisid = a.getAttribute('id')
              let action = element
              $.ajax({
                type: 'GET',
                url: '{% url "modifyUser"  %}',
                data: {id:thisid, action:action},
                dataType:"json",
                success: function (response){
                  console.log(response['data'])
                  console.log(response['key'])
                  if(response['data'] == '200'){
                    window.location.href = '/usuario' // have to fix it
                  }else{
                    alert('Houve um erro inesperado')
                  }// login, 64642
                }, error: function(response){
                  console.log('Erro: ', response)
                }
              })
            })
          }

        });
        
      })
    </script>

    <div class="user-page">
        <div class='user-page-header'>
            <div class="titleDiv">
                <h2>Usuários</h2>
            </div>
        
            <div class="navDiv">

              <div class="userLegend">
                <div class="redBall">
                  <div></div> &nbsp;
                  <p>Inativos</p>
                </div>
                <div class="blueBall">
                  <div></div> &nbsp;
                  <p>Ativos</p>
                </div>
              </div>

              <button class="addUser" id="addBtn" style="margin-right:10px" title="Adicionar usuário"></button>

            </div>
        </div>

        <div class='user-page-body'>            
            <div class="user-page-body-main">
                <!-- <ListUsers value='activos'/>  -->
                {% for usuario in usuarios %}
                  <div class="user-div user-div{{ usuario.is_active }}">
                    <div class="user-div-username">
                        <p>Nome: {{ usuario.first_name }}</p> 
                    </div>
                    <div class="user-div-nivel">
                        <p>Nivel:</p>
<!-- a5b4b -->
                        {% if not usuario.is_superuser %}
                          <p>Admin</p>
                        {% else %}
                          <p>Usuário</p>
                        {% endif %}

                    </div>
                    {% if user.id != usuario.id %}
                      <div class="user-div-buttons">
                        {% if not usuario.is_active %}
                          <button class="activeUser" id="{{ usuario.id }}" title="Activar"></button>
                        {% else %}
                          <button class="disableUser" id="{{ usuario.id }}" title="Desactivar"></button>
                        {% endif %}

                        {% if not usuario.is_superuser %}
                          <button class="promoveBtn promoveUser" id="{{ usuario.id }}" title="Promover o usúario"></button>
                        {% else %}
                          <button class="despromoveBtn despromoveUser" id="{{ usuario.id }}" title="Despromover o usúario"></button>
                        {% endif %}

                        <button class="deleteButton" id="{{ usuario.id }}" title="Deletar"></button>      
                      </div>
                    {% else %}

                    {% endif %}

                    
                  </div>
                {% endfor %}        
            </div>
            <!-- </Suspense> -->
            
            <!-- {<UserForm />} -->
            <div class="min-modal">
                <div class="min-modal-header">
                  <h2 class="min-modal-title">Adicionar usuário</h2>
                </div>
                <div class="min-modal-body">
                  <form class='modalform' id="userForm">
                    {% csrf_token %}
                    <div>
                      <label for="first_name">Primeiro nome</label>
                      <input type="text" class="formTextInput" name='first_name' id='first_name' />
                    </div>
      
                    <div>
                      <label for="last_name">Apélido</label>
                      <input type="text" class="formTextInput" name='last_name' id='last_name' />
                    </div>
      
                    <div>
                      <label for="username">Nome de usuário</label>
                      <input type="text" class="formTextInput" name='username' id='username'/>
                    </div>
      
                    <div class='nivelRadios' style="display:flex;flex-Direction:column">
                      <label >Cargo</label> 
                      <select name="user_nivel" class="formTextInput" id="user_nivel" >
                        <option value="user">Usuário</option>
                        <option value="admin">Administrador</option>
                      </select>
                    </div> 
      
                    <div class="min-submit-buttons">
                        <button class="fecharButton" type="button">Fechar</button>
                        <button class="submitButton" type="submit">Submeter</button>
                    </div>
                  </form>
                  </div>
                <div class="min-modal-footer"></div>
              </div>

        </div>

        <div class='user-page-footer'></div>

    </div>


{% endblock %}
