{% extends 'base.html' %}

{% block adicionalButton %}
        <button id="addClient">Ad. Cliente</button>
{% endblock %}



{% block conteudo %}
    <script>
        document.querySelector('.sidebar-btn-activity').classList.toggle('active-btn');
         $(document).ready(function (){

            $('#tabela').DataTable({
                "ordering": false,
                ajax: '{{ request.path }}?datatables=1',
                serverSide: true,
                columns: [
                    { data: 'act_id', title: '', visible: false },
                    { data: 'acao', title: 'Ação' },
                    { data: 'valor', title: 'Valor' },
                    { data: 'dia', title: 'Data' },
                    { data: 'hora', title: 'Hora' },
                    { data: 'usuario', title: 'Usuario' },
                ],
                "oLanguage": {
                "sProcessing":   "Processando...",
                "sLengthMenu":   "Mostrar _MENU_ registros",
                "sZeroRecords":  "Não foram encontrados resultados",
                "sInfo":         "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty":    "Mostrando de 0 até 0 de 0 registros",
                "sInfoFiltered": "",
                "sInfoPostFix":  "",
                "sSearch":       "Pesquisar:",
                "sUrl":          "",
                "oPaginate": {
                    "sFirst":    "Primeiro",
                    "sPrevious": "Anterior",
                    "sNext":     "Seguinte",
                    "sLast":     "Último"
                }
              }
            });


            $('#relatoriobtn').click(()=>{
              document.querySelector('.min-modal').classList.add("showModal")      
            })

            $('.fecharButton').click(()=>{
                document.querySelector('.min-modal').classList.remove("showModal")
            });

            $('#relatorioForm').submit(function(e){
              e.preventDefault()
              let initial = $('#initialdate').val()
              let final = $('#finaldate').val()
              if (initial == '' || final == ''){
                camposNaoPreenchidos()
              }else{
                $.ajax({
                  type: 'POST',
                  url: '{% url "relatorio"  %}',
                  data: $(this).serialize(),
                  dataType:"json",
                  success: function (response){
                    console.log(response['data'])
                    let dados = response['data']
                    let lendata = dados.length
                    if(lendata < 1){
                      atividadeNaoEncontrada()
                      $('#relatorioForm')[0].reset()
                    }else{
                      let fpaga = 0
                      let fcriada = 0
                      let vrecebido = 0
                      let userdata = response['user']
                      let fname = userdata[0]['first_name']
                      let lname = userdata[0]['last_name']
                      for(a=0;a<lendata;a++){                        
                        $('#tbodyActivitiesList').parent().append(`
                          <tr style="padding-left:20px">
                            <td>${dados[a]['acao']}</td>
                            <td>${dados[a]['valor']}</td>
                            <td>${dados[a]['dia']}</td>
                            <td>${dados[a]['hora']}</td>
                            <td>${fname} ${lname}</td>
                          </tr>
                        `)
                        if(dados[a]['acao'] == "F. Paga"){
                          fpaga++;
                          vrecebido += parseFloat(dados[a]['valor']) 
                        }else if(dados[a]['acao'] == "F. Criada"){
                          fcriada++
                        }
                      }

                      function printContent(el){var printData = document.getElementById(el);newWin = window.open("");newWin.document.write(printData.outerHTML);newWin.print();newWin.close();}

                      var now = new Date()
                      var hora = ("0" + now.getHours()).slice(-2)
                      var minutos = ("0" + now.getMinutes()).slice(-2)
                      var segundos = ("0" + now.getSeconds()).slice(-2)
                      var hourmin = `${hora}:${minutos}` 
                      document.querySelector('#hora').textContent = hourmin

                      var dia = ("0" + now.getDate()).slice(-2);
                      var monthcurrent = now.getMonth() + 1
                      var mes = ("0" + monthcurrent).slice(-2);
                      var anocompleto = now.getFullYear();
                      var fulldate = `${dia}.${mes}.${anocompleto}`
                      document.querySelector('#dia').textContent = fulldate
                      
                      document.querySelector('#faturascriadas').textContent = fcriada
                      document.querySelector('#faturaspagas').textContent = fpaga
                      document.querySelector('#valorrecebido').textContent = vrecebido
                      
                      document.querySelector('#parentMainDiv').style.display = 'block'
                      printContent('parentMainDiv')
                      document.querySelector('#parentMainDiv').style.display = 'none'
                      $('#relatorioForm')[0].reset()
                    }
                                                    
                  }, error: function(response){
                      console.log('Erro: ', response)
                  }
                })
              }

            })

        })    

    </script>

    <div class="client-page">

        <div class='client-page-header'>
          <div class="titleDiv"><h2>Atividades</h2></div>

          <div class="navDiv">
            <button class="btn" id="relatoriobtn" style="margin-right:10px">Relatório</button>
          </div>
        </div>

        <div class='client-page-body'>
          <div class="client-page-body-table">
            <table id="tabela" style="width:98%"></table>
          </div>

          <div class="min-modal" id="minModal">
            <div class="min-modal-header">
              <h2 class="min-modal-title">Relatório</h2>
            </div>
  
            <div class="min-modal-body">
              <form method="post" class="modalForm" id="relatorioForm">
                  {% csrf_token %}
                <div>
                    <label>Data inicial</label>
                    <input type="date" class="formTextInput" name="initialdate" id="initialdate" />
                </div>

                <div>
                  <label>Data final</label>
                  <input type="date" class="formTextInput" name="finaldate" id="finaldate"/>
                </div>

                <input type="hidden" name="userid" id="userid" value="{{ user.id }}">

                <div class="min-submit-buttons">
                    <button class="fecharButton" type="button">Cancelar</button>
                    <button class="submitButton" type="submit">Submeter</button>
                </div>
              </form>
            </div>
  
            <div class="min-modal-footer"></div>
        </div>
        </div>

        <div class='client-page-footer'></div>
        
        <div class="parentMainDiv" id="parentMainDiv"
        style="width:570px;height:800px;background:white;margin:2% auto 0 auto;display:flex;flex-direction:column;display:none;">

        <div id="topdiv" style="width:98%;height:10%;background:white;margin:auto;margin-top:30px;display:flex">
            <h4 id="Dados" style="padding-left:10px">Relatório</h4>
            <h4 style="margin-left:auto">Império de Aguás</h4>
        </div>

        <div id="maindiv"
            style="width:95%;background:white;margin:30px auto 0 auto;display:flex;flex-direction:column">

            <div class="rec" id="recdiv" style="width:98%;background:white;border:2px solid black;border-radius:0 0 5px 5px ;margin:0 auto 0 auto;">
                <table style="width:98%;border-collapse:collapse;margin:auto;margin-top:7px">
                    <tr style="background:lightgray;font-size:13px">
                        <th style="width:15%">Ação</th>
                        <th style="width:10%">Valor</th>
                        <th style="width:10%">Data</th>
                        <th style="width:10%">Hora</th>
                        <th style="width:5%">Usuário</th>
                    </tr>
                    <tbody id="tbodyActivitiesList"></tbody>
                </table>

                <div style="height:auto;">
                  <div style="display: flex;height:17px;justify-items:start;">
                    <h4 style="padding-left:8px;height:auto;">Faturas criadas:&nbsp; </h4>
                    <h4 id="faturascriadas"></h4>
                  </div> 
                  <div style="display: flex;height:17px;">
                    <h4 style="padding-left:8px;padding-top:-20px;">Faturas pagas: &nbsp;</h4>
                    <h4 id="faturaspagas"></h4>
                  </div>
                  <div style="display: flex;height:20px;justify-items: center;">
                    <h4 style="padding-left:8px">Valor recebido: &nbsp;</h4>
                    <h4 id="valorrecebido"></h4>
                  </div>
                </div>
                <br><br>                         
                
            </div>
        </div>
        <!-- bottom -->
        <div id="bottomdiv" style="width:95%;height:5%;background:white;margin-bottom:200%;background:white">
            <br>
            <div style="display:flex;">
              <p style="font-size:0.85rem;padding-left:4%;">Impresso por
                {{ user.first_name }} &nbsp &nbsp &nbsp</p>
              <p id="dia" style="font-size:0.85rem;"></p>&nbsp &nbsp &nbsp
              <p id="hora" style="font-size:0.85rem;"></p>
            </div>
            
        </div>
    </div>
        
        

    </div>


{% endblock %}


