<!--<!DOCTYPE html>-->
{% load static %}

<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'styles/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/css/elements.css' %}">
    <link rel="stylesheet" href="{% static 'styles/css/homeStyle.css' %}">
    <link rel="stylesheet" href="{% static 'styles/css/components.css' %}">
    <link rel="stylesheet" href="{% static 'styles/css/tooltip.css' %}">
    <link rel="stylesheet" href="{% static 'styles/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/css/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/css/customDatatable.css' %}">
    <link rel="stylesheet" href="{% static 'styles/css/load.css' %}">


    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/chart.js' %}"></script>
    <script src="{% static 'js/chartjs-plugin-datalabels.js' %}"></script>
    <script src="{% static 'js/chartjs-plugin-labels-dv.min.js' %}"></script>


</head>

<body>

 <div class='sidebar-container'>
        <div class="sidebar sidebar-item">
            <div class="sidebar-header-div">
                <div id="div-hamburger sidebar-item">
                    <!-- <div class="hamburger sidebar-item" onClick={toggleSideBarItems}>
                        <span class="bar sidebar-item"></span>
                         <span class="bar sidebar-item"></span>
                        <span class="bar sidebar-item"></span>
                    </div> -->
                </div>
            </div>

            <div class="sidebar-main-div">

                <a href="{% url 'home' %}" class="sidebar-btn sidebar-btn-home tooltip"><span class="tooltiptext">Dashboard</span></a>

                <a href="{% url 'clientes' %}" class="sidebar-btn sidebar-btn-clientes tooltip"><span class="tooltiptext">Clientes</span></a>
                
                <a href="{% url 'faturas' %}" class="sidebar-btn sidebar-btn-gerencia tooltip"><span class="tooltiptext">Gerência</span></a>
                
                <a href="{% url 'atividades' %}" class="sidebar-btn sidebar-btn-activity tooltip"><span class="tooltiptext">Atividades</span></a>
                
                <a href="{% url 'usuario' %}" class="sidebar-btn sidebar-btn-usuarios tooltip"><span class="tooltiptext">Usuários</span></a>

                <a href="{% url 'definicoes' %}" class="sidebar-btn sidebar-btn-definicoes tooltip"><span class="tooltiptext">Definições</span></a>


                {% if user.is_authenticated %}
                    <a href="{% url 'signout' %}" class="sidebar-btn sidebar-btn-sair tooltip"><span class="tooltiptext">Sair</span></a>
                {% else %}
                        <script>
                            window.location.href = "../accounts/login";
                        </script>
                {% endif %}


            </div>

            <div class="sidebar-footer-div"></div>
        </div>
    </div>

     {% block conteudo %}

     {% endblock %}

  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/functions.js' %}"></script>
  <script type="module" src="{% static 'js/script.js' %}"></script>
<!--  <script src="{% static 'js/clientes/clientScript.js' %}"></script>-->
  <script src="{% static 'js/sweetalert.min.js' %}"></script>
  <script src="{% static 'js/select2.min.js' %}"></script>
  <script src="{% static 'js/alerts.js' %}"></script>

</body>
</html>
