
{% extends 'base.html' %}

{% block conteudo %}

<script>
  $('document').ready(function(){
    $('#userprofile').click(()=>{
      window.location.href = "../userpage"
    })

    document.querySelector('.sidebar-btn-home').classList.toggle('active-btn');

    $.ajax({
        type: 'GET',
        url: '{% url "numeroTotal"  %}',
        // data: {model:"Cliente"},
        dataType:"json",
        success: function (response){
            document.querySelector('#clientlen').textContent = response['clientLen']
            document.querySelector('#userlen').textContent = response['userLen']
            document.querySelector('#activeUser').textContent = response['userLenActive']
            document.querySelector('#disativedUser').textContent = (response['userLen'] - response['userLenActive'])
            document.querySelector('#clientactive').textContent = (response['clientLenActive'])
            document.querySelector('#clientdesactived').textContent = (response['clientLen'] - response['clientLenActive'])

          }, error: function(response){
            console.log('Erro: ', response)
        }
    })

  })
</script>


<main>
    <div class="home-page">
    
        <div class="home-top">
            <div class="home-top-left"></div>
    
            <div class="home-top-right">
    
                <div class="home-top-right-username">
                    <p>{{ user.first_name }}</p>
                </div>
                <div class="home-top-right-userprofile" id="userprofile">

                </div>
            </div>
        </div>
     
        <div class="home-center">
    
            <div class="home-center-first">
      
              <div class="home-center-first-left">
                <div>
                  <h2>Clientes</h2>
                  <h2 id="clientlen">89</h2>
                </div>

                <div>
                  <div>
                    <h3>Inativos</h3>
                    <h4 id="clientdesactived"></h4>
                  </div>

                  <div>
                    <h3>Ativos</h3>
                    <h4 id="clientactive"></h4>
                  </div>
                </div>
              
              </div>
      
              <div class="home-center-first-center">
                <div>
                  <h2>Usuários</h2>
                  <h2 id="userlen">7</h2>
                </div>

                <div>
                  <div>
                    <h3>Inativos</h3>
                    <h4 id="disativedUser"></h4>
                  </div>

                  <div>
                    <h3>Ativos</h3>
                    <h4 id="activeUser"></h4>
                  </div>
                  
                </div>
              
              </div>
      
              <!-- <div class="home-center-first-right">
                <p>Usúarios online</p>
              </div> -->
      
            </div>
      
            <div class="home-center-second">
              <div class="home-center-second-chart">
      
                  <div class="home-center-second-chart-1">  
                    <!-- <BarchartDiv pagvalues={pagvalues} /> -->
                    <div class="datesChart" id="chart">
                      <canvas id="datesChart"></canvas>
                    </div>
                      
                      
                      <script>
                        new Chart(document.getElementById("datesChart"), {
                            type: 'bar',
                            data: {
                            // labels: json_encode($days),
                            labels: ['se', 'ter', 'qua'],
                            datasets: [
                                {
                                barPercentage: 1,
                                barThickness: 18,
                                maxBarThickness: 100,
                                minBarLength: 14,
                                label: "Faturas",
                                type: "bar",
                                backgroundColor:'rgb(0, 57, 82)',
                                data: ['32', '54',  '93'],
                                }
                            ]
                            },
                            options: {
                            title: {
                                display: true,
                                text: 'Lucro mensal de todos os productos'
                            },
                            legend: { display: false }
                            },
                            plugins:[ChartDataLabels]
                        });
                    </script>

                  </div> 
                
                 <!-- para chart de loja (Caso pressiga)
                    <div class="home-center-second-chart-2">
                  <BarChart /> 
                </div>  -->
      
              </div>
              
              <div class="home-center-second-date">
                <h2>12:30</h2>
                <br />
                <h3>14.01.2024</h3>
              </div>
            </div>
          </div>
      
    </div>
    
</main>


{% endblock %}

