@use '../abstracts/variables' as *;

*{margin:0;padding:0}

// body{
//   width: 100vw;
//   height: 100vh;
//   display: flex;
// }

.sidebar-container {flex: 0 0 5%;}

.content-container {flex: 1;}

.sidebar{
    width:60px;
    height:100vh;
    display: flex;
    flex-direction: column;
    transition:.8s;
    background:transparent;

    & > div{
        margin:0 auto;
    }

    &.active{
        width:200px !important;
    }

    &-header-div{
        width:90%;
        height:15vh;
    }

    #div-hamburger{
        height:12%;
        margin-left:20%;
        background:green;
    }

    #div-hamburger.active{
        margin-left:47%
    }

    .hamburger{
        display:block;cursor:pointer;margin-left:-5px;

        .bar{
            display:block;width:23px;height:3px;margin:5px auto;background:rgb(0, 95, 139);
            &.active{
                margin:5px 0 0 auto;
            }
        }
        
        &.active .bar:nth-child(2){opacity:0;}
        &.active .bar:nth-child(1){transform:translateY(8px) rotate(45deg)}
        &.active .bar:nth-child(3){transform:translateY(-8px) rotate(-45deg)}
    }
      
    &-main-div{
        width:90%;
        height:65vh;
        display: flex;
        flex-direction: column;
        border:2px solid rgb(198, 206, 212);
        border-radius: 0 12px 12px 0;

        .active-btn{
            border-left:4px solid rgb(143, 145, 146);
        }
    }

    &-btn, &-btn1{
        width:100%;
        height:35px;
        background-color:transparent;
        text-decoration: none;
        margin:0 auto 30px auto;
        border:none;
        background-size:30px;
        background-repeat: no-repeat;

        &-home{background-image:url("../../icons/home.svg");margin-top:20px}

        &-gerencia{background-image:url("../../icons/gerencia.svg");}

        &-clientes{background-image:url("../../icons/client.svg")}

        // &-escritorio{background-image:url("../../icons/gerencia.svg");}

        &-loja{background-image:url("../../icons/shop.svg")}

        &-usuarios{background-image:url("../../icons/usuarios.svg")}

        &-definicoes{background-image:url("../../icons/gear.svg")}

        &-activity{background-image:url("../../icons/activity.svg")}

        &-sair{background-image:url("../../icons/box-arrow-right.svg")}

        &:hover{
            border-radius: 0;
            border-block:2px solid rgb(198, 206, 212);
            background-color:$sidebar-btn-hover-bg;
        }
    }
    
    &-btn{
        color:transparent;
        background-position:center;
        border-radius: $btn-radius;
        border-radius: 0;
    }

    &-btn1{
        color:$sidebar-btn-color;
        background-position:12%;
    }

    &-footer-div{
        width:90%;
        height:20vh;
    }
}