
$btn-bg: rgb(80, 168, 255);
$btn-color: white;
$btn-2-color:rgb(0, 50, 73);
$btn-bg-hover: deepskyblue;
$btn-color-hover: deepskyblue;
$btn-radius:5px;
$btn-close-bg: rgb(4, 46, 70);
$big-text-color: rgb(4, 65, 100);

$sidebar-btn-bg: rgb(7, 114, 156);
$sidebar-btn-hover-bg: rgba(7, 114, 156, 0.281);
$sidebar-btn-color: rgb(0, 95, 139);
$sidebar-btn-hover-color: white;


$bg-primary: rgb(4, 104, 141);
$bg-secondary:rgb(0, 95, 139);
$color-primary:dodgerblue;
$sidebar-bg:rgba(128, 194, 206, 0.212);

$div-radius:13px;
$min-div-radius:9px;

$scrollcolor: rgb(2, 23, 34);

$input-radius:5px;
$scroll-radius:9px