{% extends 'base.html' %}


{% block conteudo %}
    <script>
        document.querySelector('.sidebar-btn-gerencia').classList.toggle('active-btn');

         $(document).ready(function (){

            $('#tabela').DataTable({
                "ordering": false,
                ajax: '{{ request.path }}?datatables=1',
                serverSide: true,
                columns: [
                    { data: 'pag_id', visible: false},
                    { data: 'pag_code', title: 'Codigo' },
                    { data: 'nome_cliente', title: 'Nome' },
                    { data: 'valordafatura', title: 'L. Atual' },
                    { data: 'pag_totalpago', title: 'T. Pago' },
                    { data: 'pag_divida', title: 'Divida' },
                    { data: 'pag_mes', title: 'Mês' },
                    { data: 'pag_ano', title: 'Ano' },
                    { data: 'pag_idgroup', visible: false},
                    {
                        data: null,
                        title: 'Ação',
                        render: function(data, type, row) {
                            return `
                            <button type="button" class="printButton" id="${row.pag_idgroup}" title="Imprimir fatura"></button>
                        `;
                        // <button type="button" class="updateButton" id="${row.pag_id}" title="Ëditar fatura"></button>
                    }
                }

                ],
                "oLanguage": {
                "sProcessing":   "Processando...",
                "sLengthMenu":   "Mostrar _MENU_ registros",
                "sZeroRecords":  "Não foram encontrados resultados",
                "sInfo":         "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty":    "Mostrando de 0 até 0 de 0 registros",
                "sInfoFiltered": "",
                "sInfoPostFix":  "",
                "sSearch":       "Pesquisar:",
                "sUrl":          "",
                "oPaginate": {
                    "sFirst":    "Primeiro",
                    "sPrevious": "Anterior",
                    "sNext":     "Seguinte",
                    "sLast":     "Último"
                }
              }
            });

            function printContent(el){var printData = document.getElementById(el);newWin = window.open("");newWin.document.write(printData.outerHTML);newWin.print();newWin.close();}

           $('#openModal').click(()=>{
            // $('#start').click(()=>{

                document.querySelector('.medium-modal').classList.add("showModal")
                $.ajax({
                     url: '{% url "selecionarTodosClientes" %}',
                     method: "GET",
                     dataType: "json",
                     success: function (response) {

                       if(response['data'].length == 0){
                            swal({
                                icon:"warning",
                                title:"Nenhum cliente encontrado",
                                text:"Deseja adicionar clientes agora ou continuar aqui? ",
                                buttons:['Continuar', 'Ad. Clientes']
                            })
                            .then((addCliente) => {
                              if (addCliente) {
                                let mainAppName = 'app_agua'
                                window.location = `../../clientes/`
                              }else{
                                document.querySelector('.medium-modal').classList.remove("showModal")
                              }
                           })
                       }else{
                            let data = response['data']
                            for (var i = 0; i < data.length; i++) {
                                let id = data[i]['id_cliente']
                                let codigo = data[i]['codigo_cliente']
                                let nome = data[i]['nome_cliente']
                                var clientRed = `${codigo} - ${nome} - ${id}`;
                                var selectData = [clientRed]
                                $("#clienteSelect").select2({ data: selectData });
                            }
                       }
                     }, error: function () {
                        alert('Erro')
                     }
                })
            })

            $('.fecharButton').click(()=>{
                document.querySelector('.medium-modal').classList.remove("showModal")
                $('#reciboForm')[0].reset()
                document.querySelector('#minRecibosDiv').innerHTML = ""                        
            })

            var defArray = ''
             $.ajax({
                type: 'GET',
                url: '{% url "selecionarDefinicoes"  %}',
                data: {id:1},
                dataType:"json",
                success: function (response){
                   defArray = response['data'][0]
                }, error: function(response){
                    console.log('Erro: ', response)
                }
            })


            $("#clienteSelect").change(()=>{
                let clientSelectValue = $("#clienteSelect").val()
                let id_cliente = clientSelectValue.split(' - ')[2]
                $('#pagCode').val(parseInt(id_cliente))
                codigo = clientSelectValue.split(' - ')[2]

                var now = new Date()
                var hora = ("0" + now.getHours()).slice(-2)
                var minutos = ("0" + now.getMinutes()).slice(-2)
                var segundos = ("0" + now.getSeconds()).slice(-2)
                var hourmin = `${hora}:${minutos}` 

                var dia = ("0" + now.getDate()).slice(-2);
                var monthcurrent = now.getMonth() + 1
                var mes = ("0" + monthcurrent).slice(-2);
                var anocompleto = now.getFullYear();

                var groupid = `${anocompleto}${mes}${dia}${hora}${minutos}${segundos}`

             
                $.ajax({
                    url: "{% url 'selecionarPagsDever'  %}",
                    type: 'GET',
                    data: {codigo: codigo},
                    // dataType:"json",
                    success: function (response){
                        $('#reciboForm')[0].reset()

                        // $('#multar').val(defArray.multar)
                        // $('#valormulta').val(defArray.def_multaforadoprazo)
                        // $('#vencimentoday').val(defArray.def_vencimentoday);

                        document.querySelector('#minRecibosDiv').innerHTML = ""

                        let pagData = response['data']

                        if(pagData == "404"){
                            clientSemReciboOuPagas()
                        }else{
                            nrData = pagData.length
                            dividatotal = 0
                            $("#idgroupinput").val(groupid)

                            if(nrData == 0){
                                $('#minRecibosDiv').append(`<p style="color:green;text-align:center">Não tem pagamento pendente.</p>`)
                            }else{
                                for(let pg = 0;pg < nrData;pg++){
                                    let mindata = pagData[pg]
                                    if(pagData[pg]['pag_totalpago'] < pagData[pg]['valordafatura'] || pagData[pg]['pag_divida'] > 0){
                
                                        let valoremfalta
                                        if(mindata['pag_totalpago'] != ''){
                                            valoremfalta = parseFloat(mindata['valordafatura']) - parseFloat(mindata['pag_totalpago'])
                                        }else{
                                            valoremfalta = parseFloat(mindata['valordafatura']) - 0
                                        }   

                                        $('#minRecibosDiv').append(`

                                            <input type="hidden" name="divsLen" id="divsLen" value="${nrData}">

                                            <div class="codeAndName" style="width:46%;min-width:230px;margin-bottom:20px">
                                                <input type="hidden" name="pagid${pg}" id="pagid${pg}" value="${mindata['pag_code_id']}">
                                                
                                                <input type="hidden" name="mes${pg}" value="${mindata['pag_mes']}">
                                                <input type="hidden" name="ano${pg}" value="${mindata['pag_ano']}">
                                                

                                                <label for="">M. Da Fatura: <input type="text" class="inputTipoLabel" value="${mindata['pag_mes']} / ${mindata['pag_ano']}"  readOnly/></label> 
                                                <br/>
                                                <label for="">V. Da Fatura: <input type="text" class="inputTipoLabel" value="${mindata['valordafatura']}"  readonly/></label> <br/>

                                                <label for="">Total Pago: <input type="text" class="inputTipoLabel" value="${mindata['pag_totalpago']}" readonly/></label> <br/>

                                                <input type="hidden" class="inputTipoLabel" value="${mindata['pag_id']}" readonly/>

                                                <label for="">V. Em Falta: <input type="text"  class="inputTipoLabel" value="${valoremfalta}" readonly/></label> <br/>

                                                <label for="">V. Fat. Pagar: </label>
                                                <input type="number" class="formTextMinInput" style="width:80px" name="valorapagar${pg}" /> 
                                                <br />
                                                <label for="">Divida: <input type="number" class="inputTipoLabel" value="${mindata['pag_divida']}" readonly /></label> <br/>

                                                <label for="">V. Div. Pagar: </label> 
                                                <input type="number" class="formTextMinInput" style="width:80px" name="dividaapagar${pg}" /> 
                                                <br/>
                                            </div>
                                        `)
                                        dividatotal += parseFloat(mindata['pag_divida'])
                                    }
                                    $('#divida').val(dividatotal)
                                }
                            }
                            // console.table(pagData)
                            // console.log(pagData.length)
                        }
                    }, error: function(response){
                        console.log('Erro: ', response)
                    }
                })
            })

            $('#reciboForm').submit(function(e){
                e.preventDefault();
                // let datapagamento = $('#datapagamento').val()
                let datapagamento = '32'
              
                if(datapagamento == ""){
                    alert('data de pagamento nao foi selecionada')
                }else{
                    $.ajax({
                        type: 'POST',
                        url: '{% url "pagarFatura"  %}',
                        data: $(this).serialize(),
                        dataType:"json",
                        success: function (response){
            
                            if(response['data'] == '203'){
                                valorAserPagoMaior()
                            }else if(response['data'] == '200'){
                                pagamentoFeitoComSucesso()
                                $('#reciboForm')[0].reset()
                                 document.querySelector('#minRecibosDiv').innerHTML = ""  
                            }else{
                                console.log(response['data'])
                            } 
                        }, error: function(response){
                            console.log('Erro: ', response)
                        }
                    })
                }    
            });


            $("#tabela").on('click', ".printButton", function(){
                let idgroup = $(this).attr('id')
                if (idgroup == '' || idgroup == 'null'){
                    idgroupnotfound()
                }else{
                    $.ajax({
                        type: 'GET',
                        url: '{% url "faturasPorIdGroup"  %}',
                        data: {idgroup: idgroup},
                        dataType:"json",
                        success: function (response){

                            let pagdata = response['data']
                            let lenpagdata = pagdata.length
         
                            document.querySelector('#fatResults').innerHTML = ''
         
                            let clientdivida = 0
                            pagdata.map(function(pagdata){    
                                $('#fatResults').append(`
                                    <div style="width:90%;display:flex;justify-content:space-between;align-items:center;margin:auto;margin-top:20px;height:30px;border-radius:4px;background:lightgray" >
                                        <p>${pagdata['pag_ano']}</p>
                                        <p>${pagdata['pag_mes']}</p>
                                        <p>${pagdata['valordafatura']}</p>
                                        <p>${pagdata['pag_totalpago']}</p>
                                        <p>${pagdata['pag_divida']}</p>
                                    </div>
                                `)
                                clientdivida += parseFloat(pagdata['pag_divida']).toFixed(2) 
                            })
                            document.querySelector('#dividavalue').textContent = clientdivida

                            // console.log(response['dataCliente'])
                            document.querySelector('#docnomecliente').textContent = response['dataCliente'][0]['nome_cliente'] 
                            document.querySelector('#docbairro').textContent = response['dataCliente'][0]['endereco_cliente'] 

                            document.querySelector('#reciboDoc').style.display = 'block'
                            printContent('reciboDoc')
                            document.querySelector('#reciboDoc').style.display = 'none'
                                    
                        }, error: function(response){
                            console.log('Erro: ', response)
                        }
                    })
                }
            })    
               
            //  POR ENQUANTO ESSA FUNCTIONALIDADE VAI FICAR DE FORA 
            
            // $("#tabela").on('click', ".updateButton", function(){
            //     let pagid = $(this).attr('id')
            //     $.ajax({
            //         type: 'GET',
            //         url: '{% url "pagPorId"  %}',
            //         data: {id: pagid},
            //         dataType:"json",
            //         success: function (response){
            //             let pagdata = response['data']
            //             let pagdatalen = pagdata.length
            //             if(pagdata[0]['pag_totalpago'] > 0){
            //                 console.log('por motivos de seguranca esse recibo nao pode ser editada ')
            //             }else{
            //                 // document.querySelector('.ma-modal').classList.add("showModal")  
            //             } 
            //         }, error: function(response){
            //             console.log('Erro: ', response)
            //         }
            //     })
            // })
        })

    </script>

 <div class="fatura-page">

        <div class='fatura-page-header'>
          <div class="titleDiv"><h2>Recibos</h2></div>

          <div class="navDiv">
              <button class="addButton" id="openModal" style="margin-right:10px" title="Pagar faturas"></button>
              <a href="{% url 'faturas' %}"><button class="btn"  style="margin-right:10px" title="Pagina de faturas">Faturas</button></a>
          </div>

        </div>

        <div class='fatura-page-body'>
          <div class="fatura-page-body-table">
            <table id="tabela" style="width:98%"></table>
          </div>

          <div class="medium-modal" id="mediumModal">
              <div class="medium-modal-header">
                <h2 class="medium-modal-title">Pagamento de faturas</h2>
              </div>

              <div class="medium-modal-body" >
                      <form method="post" class="modalForm" id="reciboForm">
                        
                        {% csrf_token %}

                          <!-- <button type="button" class="btn" id="start">Start</button> -->
                        <div class="reciboInputModal">
                            <label>Cliente</label>
                            <select id="clienteSelect">
                                <option>Selecionar cliente</option>
                            </select>
                        </div>

                        <input type="hidden" name="userid" id="userid" value="{{ user.id }}">

                        <input type="text" name="multar" id="multar">
                        <input type="text" name="valormulta" id="valormulta">
                        <input type="text" name="vencimentoday" id="vencimentoday">

                        <input type="hidden" name="idgroupinput" id="idgroupinput">

                        <!-- fats a pagar -->
                        <div id="minRecibosDiv"></div>

                        <div class="reciboInputModal">
                            <label>Divida Total</label>
                            <input type="number" class="formTextInput" name="divida" id="divida" disabled />
                        </div>

                        <div class="reciboInputModal">
                             <label>Data de pagamento</label>
                             <input type="date" class="formTextInput" name="datapagamento" id="datapagamento">
                        </div>

                      <div class="min-submit-buttons reciboInputModal" >
                          <button class="fecharButton" type="button" >Fechar</button>
                          <button class="submitButton" type="submit">Submeter</button>
                      </div>
                      
                    </form>
              </div>

              <div class="medium-modal-footer"></div>
          </div>

        </div>

        <div class='fatura-page-footer'></div>
        
        <div id="reciboDoc" style="width:600px;display: flex;flex-direction:column;background:white;border:2px solid;display: none; ">
            <div id="reciboHeader">
                <div id="headerPic" style="width:60%;margin:auto;"><img src="../../static/imgs/fatlogo.jpg" width="100%" height="170px" alt="logo da recibo"></div>
            </div>
            <div id="reciboBody" style="width:96%;border:1px solid ;margin:auto">
                <div>
                    <div style="display:flex">
                        <p style="padding-left:20px">Nome do cliente: &nbsp &nbsp&nbsp &nbsp </p>
                        <p id="docnomecliente"></p>
                    </div>
                    
                    <div style="display:flex;">
                        <p style="padding-left:20px">Bairro: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </p>
                        <p id="docbairro"></p>
                    </div>
                </div><br />

                <div>
                    <h2 style="text-align: center;">Faturas pagas</h2>
                    <br />
                    <div style="width:95%;min-height:30px;height:auto;margin:auto;" id="divfaturaspagas">
                        <div style="display:flex;justify-content:space-around">
                            <strong>Ano</strong>
                            <strong>Mês</strong>
                            <strong>V. Fatura</strong>
                            <strong>V. Pago</strong>
                            <strong>Divida</strong>
                        </div>
                        <div id="fatResults"></div>
                        
                    </div>    
                    <br>
                    <div style="padding-left:40px">
                        <strong>Divida:</strong>
                        <strong id="dividavalue"></strong>
                        <strong>MT</strong>
                    </div>                
                </div>

                <div>
                    <h2 style="text-align: center;">Prazo de pagamento</h2>
                    <p style="padding-left:20px">Pagamento apartir do dia 01 até dia 10</p>
                    <p style="padding-left:20px">Das 07:30 até 15:30min</p>
                    
                    <div style="width:90%;border:2px solid;margin:auto">
                        <h2 style="padding-left:10px">NB:</h2>
                        <ul>
                            <li>O pagamento é feito a partir do dia 25 de cada mês até dia 10 do mês seguinte, menos Sábado e Domingo</li>

                            <li>A partir do dia 11 o cliente é sujeito ao pagamento de uma multa de 50 mts. No dia seguinte, a multa aumenta em 10 mts de cada dia até o fim de mês.</li>
                            
                            <li>A acumulacão de factura até 90 dias implica o corte de fornecimento de água e a taxa de religacao é de 1500.00 mts
                            </li>
                        </ul>
                    </div>
                </div>

                <div style="width:90%;margin:auto;">
                    <h2 style="text-align: center;">Assinatura do leitor.</h2>
                    <h3 style="text-align: center;">........................................................................</h3>
                
                </div>
            </div>
            <br/>
</div>
    
    </div>


{% endblock %}

